html,body {
  height:100%;
  /* Rectangle 5: */
  background: #EFEFEF;
}

.overimg {
  position: absolute;
  min-height: 400px;
  background-size: cover;
  overflow: hidden;
}

#navbar {
  position: relative;
  z-index: 1;
  max-width: 1023px;
  /*Set this opacity for a visiable background through navbar*/
  background-color: transparent;
}

.nav-text {
  opacity: 1;
  font-family: Avenir-Medium;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.header-text {
  top: 100px;
  font-family: Avenir-Heavy;
  color: #FFFFFF;
  letter-spacing: 0;
}

.sub-header-text {
  top: 110px;
  font-family: Avenir-Book;
  color: #FFFFFF;
  letter-spacing: 0;
}

.searchbox {
  top: 250px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: white;
  box-shadow: 2px 2px 1px #888888;
}

.searchbox input {
  font-family: Avenir-Book;
  font-size: 14px;
  color: #ADB0B6;
  letter-spacing: 0;
  top: 15px;
  bottom: 15px;
}

.search-internal {
}

.affix {
  -webkit-transition:padding 0.2s ease-out;
  -moz-transition:padding 0.2s ease-out;
  -o-transition:padding 0.2s ease-out;
  transition:padding 0.2s ease-out;

}

@media (min-width:768px) {
    .affix-top {
      /* navbar style at top */
      background:transparent;
      border-color:transparent;
      padding: 15px;
      -webkit-transition:all 0.5s ease;
      -moz-transition:all 0.5s ease;
      -o-transition:all 0.5s ease;
      transition:all 0.5s ease;
    }
}

.affix-top .nav>li>a {
   color: #000;
}

.affix-top.navbar .nav>li>a:hover,
.affix-top.navbar .navbar-brand
{
   color: #333;
}

section {
  height:calc(90% - 50px);
  height: 90vh;
}
